<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Mindspring_Questions>
			<version>0.1.0</version>
		</Mindspring_Questions>
	</modules>
	<frontend>
		<routers>
			<questions>
				<use>standard</use>
				<args>
					<module>Mindspring_Questions</module>
					<frontName>questions</frontName>
				</args>
			</questions>
		</routers>
		<layout>
			<updates>
				<questions>
					<file>questions.xml</file>
				</questions>
			</updates>
		</layout>
	</frontend>
	<!-- admin backend configuration -->
	<admin>
		<routers>
			<questions>
			<use>admin</use>
				<args>
					<module>Mindspring_Questions</module>
					<frontName>questions</frontName>
				</args>
			</questions>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<questions module="questions">
				<title>Questions</title>
				<sort_order>71</sort_order>
				<children>
					<items module="questions">
						<title>Manage Questions</title>
						<sort_order>0</sort_order>
						<action>questions/adminhtml_questions</action>
					</items>
				</children>
			</questions>
		</menu>
	<acl>
		<resources>
		<all>
		<title>Allow Everything</title>
		</all>
			<admin>
				<children>
					<Mindspring_Questions>
						<title>Questions Module</title>
						<sort_order>10</sort_order>
					</Mindspring_Questions>
				</children>
			</admin>
		</resources>
	</acl>
		<layout>
			<updates>
				<questions>
					<file>questions.xml</file>
				</questions>
			</updates>
		</layout>
	</adminhtml>
	<!-- admin backend configuration  END-->
	<global>
		<models>
			<questions>
				<class>Mindspring_Questions_Model</class>
				<resourceModel>questions_mysql4</resourceModel>
			</questions>
			<questions_mysql4>
				<class>Mindspring_Questions_Model_Mysql4</class>
					<entities>
						<questions>
							<table>questions</table>
						</questions>
					</entities>
			</questions_mysql4>
		</models>
		<resources>
			<questions_setup>
				<setup>
					<module>Mindspring_Questions</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</questions_setup>
			<questions_write>
				<connection>
					<use>core_write</use>
				</connection>
			</questions_write>
			<questions_read>
				<connection>
					<use>core_read</use>
				</connection>
			</questions_read>
		</resources>
		<blocks>
			<questions>
				<class>Mindspring_Questions_Block</class>
			</questions>
			<catalog>
					<rewrite>
	            		<product_view>Mindspring_Questions_Block_Product_View</product_view>
	        		</rewrite>
			</catalog> 	
		</blocks>
		<helpers>
			<questions>
				<class>Mindspring_Questions_Helper</class>
			</questions>
		</helpers>
	</global>
</config>
