<?xml version="1.0"?>
<config>
    <global>
        <modules>
                <Custom_Hello>
                        <version>0.1.0</version>
                </Custom_Hello>
        </modules>
    <blocks>
        <hello>
            <rewrite>
         		<hello>Custom_Hello_Block_Hello</hello>
        	</rewrite>
        </hello>
     </blocks>
 	 
 	 <models>
 	 	<custom_hello>
 	 		<class>Custom_Hello_Model</class>
 	 		<resourceModel>hello_mysql4</resourceModel>
 	 	</custom_hello>
 	 	<hello_mysql4>
 	 		<class>Custom_Hello_Model_Mysql4</class>
 	 		<entities>
                <questions>
                    <table>questions</table>
                </questions>
            </entities> 
 	 	</hello_mysql4>
 	 </models>
 	 <resources>
 	 	<hello_setup>
 	 		<setup>
 	 			<module>Custom_Hello</module>
 	 		</setup>
 	 		<connection>
                <use>core_setup</use>
            </connection>
 	 	</hello_setup>
 	 	<hello_write>
            <connection>
                <use>core_write</use>
            </connection>
        </hello_write>
        <hello_read>
            <connection>
                <use>core_read</use>
            </connection>
        </hello_read>
 	 </resources>
	</global>
       <frontend>
                <routers>
                        <hello>
                                <use>standard</use>
                                <args>
                                      <module>Custom_Hello</module>
                                      <frontName>hello</frontName>
                                </args>
                        </hello>
                </routers>
        <layout>
            <updates>
                <hello>
                      <file>hello.xml</file>
                </hello>
            </updates>
        </layout>
        <events>
            <catalog_block_product_list_collection>
                <observers>
                    <custom_hello_observer>
                        <type>singleton</type>
                        <class>custom_hello/observer</class>
                        <method>loadBusinessRules</method>
                    </custom_hello_observer>
                </observers>
            </catalog_block_product_list_collection>
        </events>
        </frontend>
</config>